/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  overflow-x:hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*prevent horizontal scrolling on mobile devices*/
body{
  overflow-x:hidden;
}
